@{
    ViewData["Title"] = "Горно-металлургический комбинат";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Комбинат добывает и перерабатывает полезные ископаемые (ПИ).</p>
</div>
